<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mokkoji.room.mapper.RoomMapper">
<!--    터지지 않은 방 리스트 출력-->
    <select id="getAllRooms" resultType="com.example.mokkoji.room.dto.RoomDto">
        select * from gameroom
        where is_explosion = 0;
    </select>
    <select id="list" parameterType="map" resultType="com.example.mokkoji.room.dto.RoomDto">
        /* ListMapper.list*/
        SELECT *
        FROM gameroom
        LIMIT ${offset} , ${pageSize}
    </select>
<!--    방 생성 -->
    <insert id="createRoom" parameterType="com.example.mokkoji.room.dto.RoomDto" useGeneratedKeys="true" keyProperty="room_id">
        insert into gameroom (room_name, room_password,user_count,is_private,is_explosion,is_active,game_type, owner)
        values (
                   #{room_name}, #{room_password}, 1, #{is_private}, false, false, #{game_type}, #{owner}
               )
    </insert>
<!--        터지지 않은 방의 개수를 센다-->
    <select id="countRooms" resultType="int">
        SELECT COUNT(*) AS room_count
        FROM gameroom
        where is_explosion = 0;
    </select>
<!--    방 정보 불러오기-->
    <select id="selectRoom" parameterType = "int" resultType="com.example.mokkoji.room.dto.RoomDto">
        select * from gameroom
        where #{room_id} = room_id;
    </select>

    <insert id="enterUser" parameterType="java.util.Map">
        INSERT INTO participant (user_id, room_id)
        VALUES (#{user_id}, #{room_id})
    </insert>
    <update id="userCountPlusOne" parameterType="int">
        UPDATE gameroom
        SET user_count = user_count + 1
        WHERE #{room_id} = room_id;
    </update>
    <update id="userCountMinusOne" parameterType="int">
        UPDATE gameroom
        SET user_count = user_count - 1
        WHERE #{room_id} = room_id;
    </update>
    <select id="nicknameToID" parameterType="String" resultType="int">
        select user_id from user
        where user_nickname = #{user_id}
    </select>
    <select id="userInGame" parameterType="int" resultType="int">
        select count(*)as userInGame from participant
        where user_id = #{user_id};
    </select>
    <select id="checkPassword" parameterType="String" resultType="int">
        select room_password from gameroom
        where room_id = #{room_id};
    </select>
    <update id="gameStart" parameterType="int">
        UPDATE gameroom SET is_active = 1 WHERE room_id = #{room_id};
    </update>
    <update id="gameEnd" parameterType="int">
        UPDATE gameroom SET is_active = 0 WHERE room_id = #{room_id};
    </update>
    <delete id="goOutUser" parameterType="int">
        DELETE FROM participant
        WHERE user_id = #{user_id};
    </delete>
    <select id="userRoomID" parameterType="int" resultType="int">
        select room_id from participant
        where user_id = #{user_id};
    </select>
</mapper>