<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.mokkoji.member.users.mapper.UserMapper">
    <!--    익명으로 입장할 때 db에 저장-->
    <insert id="guestInput" parameterType="String">
        INSERT INTO users (user_nickname, role, created_at)
        VALUES (#{user_nickname}, 'GUEST', NOW());
    </insert>
    <!--    닉네임 중복 체크-->
    <select id="isSameNickname" parameterType="String" resultType="int">
        select COUNT(*) > 0
        from users
        where user_nickname = #{user_nickname}
    </select>
    <!--     관리자 로그인-->
    <resultMap id="UsersResultMap" type="com.ssafy.mokkoji.member.users.entity.Users">
        <id property="id" column="id" />
    </resultMap>
    <select id="isAdmin" resultMap="UsersResultMap">
        SELECT *
        FROM users
        WHERE email = #{email}
    </select>
</mapper>